#picture1 {
    background: url("https://images.pexels.com/photos/941546/pexels-photo-941546.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") center center no-repeat; 
    height: 300px;
    background-size: contain;
    -webkit-background-origin:border;
}

#picture2 {
    background: url("https://images.pexels.com/photos/1154638/pexels-photo-1154638.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") center center no-repeat; 
    height: 300px; 
    background-size: contain;
    -webkit-background-origin:border;
}

#picture3 {
    background: url("https://images.pexels.com/photos/850602/pexels-photo-850602.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=400&w=466") center center no-repeat;
    height: 300px;
    background-size: contain;
    -webkit-background-origin:border;
}

#picture4 {
    background: url("https://images.pexels.com/photos/1320998/pexels-photo-1320998.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") center center no-repeat; 
    height: 300px; 
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-origin:border;
}

#picture5 {
    background: url("https://images.pexels.com/photos/667838/pexels-photo-667838.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") center center no-repeat; 
    height: 300px; 
    background-size: cover;
    -webkit-background-origin:border;
}

#picture6 {
    background-size: contain;
    -webkit-background-origin:border;
}

#picture7 {
    background: url("https://images.pexels.com/photos/8444/tie-watch-cufflinks.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") center center no-repeat; 
    height: 300px; 
    background-size: contain;
    -webkit-background-origin:border;
}

#picture8 {
    background: url("https://images.pexels.com/photos/205316/pexels-photo-205316.png?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") center center no-repeat; 
    height: 300px; 
    background-size: contain;
    -webkit-background-origin:border;
}

#picture9 {
    background: url("https://images.pexels.com/photos/380768/pexels-photo-380768.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") center center no-repeat; 
    height: 300px; 
    background-size: contain;
    -webkit-background-origin:border;
}

.nav-link.active {
    color: white !important;
    background: gray !important;
}

.nav-link {
    color: gray !important;
    background: white !important;
}

#cog {
    text-decoration: none !important;
}

.feedphoto {
    height: 400px; 
    background-size: contain !important;
     -webkit-background-origin:border;
}

#pic1 {
     background: url("https://images.pexels.com/photos/941546/pexels-photo-941546.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") center center no-repeat; 
}

#pic2 {
    background: url("https://images.pexels.com/photos/1154638/pexels-photo-1154638.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") center center no-repeat; 
}

#pic3 {
    background: url("https://images.pexels.com/photos/850602/pexels-photo-850602.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=400&w=466") center center no-repeat;
}

#pic4 {
     background: url("https://images.pexels.com/photos/1320998/pexels-photo-1320998.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") center center no-repeat; 
}
#pic5 {
    background: url("https://images.pexels.com/photos/667838/pexels-photo-667838.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") center center no-repeat;
}
